<div class="conatiner">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has class centered">Password Generator</h1>

      <div class="field">
        <label>Enter Length</label>
        <input type="text" (input)="onChangeLength($event)" class="input">
      </div>
      
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeUseLetters()">
            Use Letters
          </label>
        </div>
      </div>
      
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeUseNumbers()">
            Use Numbers
        </label>
        </div>
      </div>
      
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeUseSymbols()">
            Use Symbols
        </label>
        </div>
      </div>
      
      <div>
        <!-- events are enclosed in (click) -->
        <button 
          (click)="onButtonClicked()" 
          [disabled]="!(length && (includeLetters || includeSymbols || includeNumbers))"
          class="button is-link is-fullwidth"
          >
          Generate!
        </button>
      </div>
      
      <div *ngIf="password" class="box">
        <label>Your password</label>
        <input type="text" [value]="getPassword()" class="input">
      </div>
    </div>
  </div>
</div>
